/* >>>>>>> LEGENDA <<<<<<<<<

font-family:'Oleo Script Swash Caps', cursive;

Color blue > #0288d1
Color red > #f44336

*/

 /* BODY*/
 html {
 	height: 100%;
 }

body {
	background-image: url("kindajean.png");
	height: 100%;
}

main.main_section {
	flex: 1;

}

div.whole_container {
	padding: 0;
	display: flex;
  	min-height: 100%;
  	flex-direction: column;	
  	position: relative;
}

/*End BODY*/

/* NavBar */

nav {


}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-img {
	height: 40px;
	vertical-align: middle;

}

.brand-logo {
	font-family: 'Oleo Script Swash Caps', cursive;
}

nav .logo_container {
	margin-left: auto;
	margin-right: auto;
}

/* End Navbar */

/* Side-Nav */
.side-nav {
	background-image: url("billie_holiday.png");
	opacity: 0.9;
}
.side-nav p {
	font-size: 40px;
	text-align: center;
}
.side-nav li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.side-nav li a {
	text-align: center;
	font-size: 30px;
	color: #0288d1;
	font-family: 'Oleo Script Swash Caps', cursive;
}



.side-nav li a:hover {
	background-color: #e1f5fe;
}

ul.side-nav li:first-child {
	margin-top: 90px;
}

.side-nav img {
	display: block;
	width: 25%;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.selected_side_nav {
	background-color: #0288d1;
	opacity:  0.7;
	
}

li.selected_side_nav a {
	color: white;
}

/*End Side-Nav*/

/*  >>>>>>>>>>>>>>>> Rezultate Section <<<<<<<<<<<<<<< */

.rezultate {
	box-sizing: border-box;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 1px;
}

.rezultate:hover {
	background-color: #e1f5fe;

}


/*Rezultate Title*/

.r-title {
	margin-right: 15px;
	margin-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #0288d1;*/

}
.rezultate_logo {
	height: 30px;
	float:left;
	margin-right: -5px;
	margin-top: -5px;
}

.r-title h2 {
	font-size: 32px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #0288d1; /*blue color*/
	margin: 0;

}

.rez-bile {
	text-align: center;
}

.rez-bile li {
	display: inline;
}

.rez-bile img {
	height: 45px;
}


.noroc_container {
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	margin:0;
	text-align: right;

}

.noroc_container div {
	display: inline;
}

.noroc_title {
	font-size: 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #f44336;
}

.noroc_content {
	font-size: 32px;
	padding: 5px;
	color: #f44336;
	border-radius: 5px;
	font-family: "Monofett", cursive;
}

.noroc_logo {
	height: 25px;
	margin: 0;
	padding: 0;
	margin-right: -5px;

}

.div-rez {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}



.rezultate_main_title {
	margin-top: 0;
	margin-bottom: 0;
	
	color: #0288d1;
}

.data_rezultate {
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	color: #0288d1;
}

.main_title_rezultate {
	margin-right: 10px;
	margin-left: 10px;
}
/* MODAL*/

.modal {
	width: 98%;
}

div#modal649_r {
	max-height: 90%;
}
ul.rez-bile {
	margin-bottom: 7px;
}

div.modal-content.modal-content-r {
	padding: 0;
	margin: 0;
}

div.modal_top_r {
	
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;

}

div.modal_top_r img {
	height: 34px;
	width: 34px;
}

div.modal_top_r h4 {
	font-family: 'Oleo Script Swash Caps', cursive;
	display: inline;
	color: #0288d1;
	vertical-align: top;
}

.div-modal-r {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div.noroc_container_modal {
	border: 1px solid #f44336;
	border-radius: 3px;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}

div.noroc_content {
	padding: 0;

}

div.noroc_container_modal img {
	width: 30px;
	height: 30px;
	
}

div.noroc_container_modal p {
	font-size: 18px;
	margin:0;
	padding: 0;
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #f44336;
	display: inline;

	position: relative;
	bottom: 5px;

}

div.noroc_container_modal > div.noroc_content {
	display: inline;
}

div.castiguri {
	margin-right: 5px;
	margin-left: 5px;
}

 table.centered tbody tr td {
	padding-top: 10px;
	padding-bottom: 10px;
     line-height: 100%;
}

table.centered thead tr th {
	padding-top: 10px;
	padding-bottom: 10px;
    line-height: 100%;
}


/*End MODAL*/
/* >>>>>>>>> End Rezultate Section <<<<<<<<<<<<< */



/*----------------LOTO PAGE GENERATOR CONTENT -----------------*/

div.button_zone {
	margin-top: 60px;
}


#loto649_btn {
	
	font-size: 24px;
}

.var_content li img {
	width: 50px;
	}

.random_form p {
	display: inline;

}

.var_content li {
	display: inline;
} 


.var_rand {
	margin-bottom: 0;
}
div.modal-content.modal_variante_649 {
	padding: 0;
}

div.title_pag_gen {
	font-family: 'Oleo Script Swash Caps', cursive;
	color: white;
	margin:0;
	font-size: 50px;
}
.container_title_pag div {
	display: inline;	
}


.logo_pag_gen img {
	width: 70px;
	position: relative;
	top: 20px;


}

.title_modal_pg {
	font-family: 'Oleo Script Swash Caps', cursive;

	vertical-align: top;
}

#title_modal_pg469 {
	color: #0288d1;
}

/* Modal */


form.random_form.random_form_540.center label {
    padding-left: 21px;
}
.modal_top {
	margin-top: 10px;
	margin-left: 10px;
}

.title_modal_pg {
	display: inline;

}
.logo_modal_pg {
	height: 40px;
}

.var_content {
	margin-top: 0;
}

.var_content li {
	margin-right: 5px;
}

ul.var_content li:last-child {
	margin-right: 0;
}

div.row.var_rand > div {
	padding: 0;
}

.div_modal {
	margin-left: 10px;
	margin-right: 10px;
}

div.div_modal p {
	margin: 0;
	position: relative;
	top: -10px;
	color: #bdbdbd;
}

div.div_modal div.divider {
	width: 78%;
}

/*End Modal*/

i.fa.fa-question-circle-o {
	font-size: 25px;
	color:white;
	position: absolute;
	right: 10px;
	margin-top: 12px;
}

/*END PAGE GENERATOR CONTENT*/


/* >>>>>>>>>>> FOOTER <<<<<<<<<<<<*/
footer.page-footer {
	padding: 0;
	margin: 0;
}

.footer-copyright {
	font-family:'Poiret One', cursive;
	color: #fff;
	font-size: 20px;
}

.footer-copyright a {
	color: #fff;
}

a#kode_creative span {
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(90deg);
}
/* >>>>>>>>>>> END FOOTER <<<<<<<<<<<<